*{
	margin: 0;
	padding: 0;
}

header {
	font: bold 36px/120% Arial, Helvetica, sans-serif;
	background: #192823;
	color: #d0c6b1;
	text-transform: uppercase;
}

section p {
	font: bold 24px/150% Arial, Helvetica, sans-serif;
	background: #d0c6b1;
	border: #999 2px solid;
	color: #192823;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
	width: 300px;
}

.right {
	background: #0c0;
	border: #090 2px solid;
	color: ##218559;
}

.wrong {
	background: #dd1e2f;
	border: #900 2px solid;
	color: #0000000;
}

input, button {
	font: bold 24px/150% Arial, Helvetica, sans-serif;
	display: block;
	width: 300px;
	padding: 10px;
	margin: 10px auto;
}

body {
	width: 400px;
	margin: 0 auto;
	background: #ffffff;
	height: 100vh;
}

html {
	background: #444;
}
